@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --font-color: white;
    --font-One: "Kanit";
    --font-Two: "Inter";
}

.m-auto{
    margin: auto;
}

.max-width{
    width: 90vw;
}
.max-width2{
    width: 95vw;
}

.bg{
    background-image: url();
}

.btn{
    background-color: aqua;
    color: white;
    font-family: var(--font-Two);
    padding: 10px;
    border-radius: 40px;
    font-weight: bolder;
    font-size: 15px;
    border: 2px solid black;
}

.btn:hover{
    background-color: white;
    color: aqua;
}

.form{
    background-color: rgb(59, 59, 59);
    color: rgb(255, 255, 255);
    font-family: var(--font-Two);
    font-weight: bolder;
    padding: 18px;
    border-radius: 10px;
    margin: 10px;
}